.button-more{
    margin: 50px auto 50px auto;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    background-color: indigo;
    color: #fff;
    font-size: 15px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 2px;
    visibility: visible;
}
.button-more:hover{
  opacity: .6;
}
.button-more_hidden{
  visibility: hidden;
}